# Credentials required to access the page
USERNAME = ""
PASSWORD = ""

# Path to the folder where quests will be stored
QUESTS_PATH = ""

# Path to the synchronization script
SYNCHRONIZATION_SCRIPT = ""

# Bingo server configuration
BINGO_SERVER_START_SCRIPT = "start.sh"
BINGO_SERVER_STOP_SCRIPT = "stop.sh"
